@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('font-files/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('font-files/Inter-SemiBold.woff2') format('woff2');
}